---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import LatestPosts from "../components/LatestPosts.astro";

const pageTitle = "Philippe Malo's Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script defer src="/_vercel/insights/script.js"></script>
  </head>
  <body>
    <Navigation />
    <div class="container">
      <h1>{pageTitle}</h1>

      <h2><u>The purpose of this blog...</u></h2>

      <p>
        I'm creating this blog to document every bit of information I deem
        important/interesting while going through my coding journey. I hope to
        build a valuable resource that I can come back to in the future.
        <br />
        <br />
        Happy reading!
      </p>

      <LatestPosts />
    </div>
    <Footer />
  </body>
</html>
